body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    align-items: center;
    background: lightblue;
    display: flex;
    height: 80px;
    justify-content: center;
}

.header__title {
    color: #4e4e4e;
}

.main {
    display: flex;
    height: calc(100vh - 80px);
}
.main__row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__col {
    display: flex;
    padding: 20px;
}
.main__col--8 {
    flex-basis: 66.64%;
    flex-direction: column;
}
.main__col--4 {
    flex-basis: 33.36%;
    border-left: 1px solid lightgray;
}
.main__button {
    background: lightblue;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 5px;
    padding: 20px;
    text-shadow: 1px 1px 1px grey;
}

.main__button--active {
    opacity: .5;
}

.aside {
    display: flex;
    flex-direction: column;
}

.aside__list {
    padding: 0;
    list-style: none;
}

.aside__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
}

img {
    max-height: 50vh;
    width: 50%;
    min-width: 500px;
    align-self: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

@media screen and (max-width: 768px) {
    .main__col--8,
    .main__col--4 {
        flex-basis:  100%;
    }
    .main__col--8 {
        height: 150px;
    }
    .main__col--4 {
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }
    .main {
        flex-wrap: wrap;
    }
}